@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$--red:hsl(0, 100%, 74%) ;
$--green: hsl(154, 59%, 51%);

$--blue:hsl(248, 32%, 49%);
$--dark-blue:hsl(249, 10%, 26%) ;
$--gray-blue:hsl(246, 25%, 77%);

$--white: #fff;


$ff-poppins: 'Poppins', sans-serif;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;



html{
    background: $--red;
    width: 100%;

    body{
        
        height: 1000px;
        
        .bg{
        
            width: 100%;
            height: 100%;
            position:fixed;
            background-image: url("/img/bg-intro-desktop.png");
            z-index: -10;
        }
        
        

        main{
            width: 70%;
            margin: 0 auto;
            padding:20px;
            .titulo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 50%;
                padding-top: 30px;
                font-family: $ff-poppins;
                
                h1{
                    font-size: 2rem;
                    color: $--white;
                    font-weight: 900;
                }
                p{
                    font-size: .9rem;
                    color:$--white;
                    font-weight: $fw-400;
                    line-height: 25px;

                }
            }

            .container-principal{
                
                .banner{
                    background: $--blue;
                    padding:10px 50px;
                    border-radius: 5px;
                    font-family: $ff-poppins;
                    text-align: center;
                    box-shadow: 0 5px $--dark-blue;
                    margin: 20px 0;

                    p{
                        color:$--white;
                        font-size: .87rem;

                        span{
                            font-weight:$fw-600;
                            font-size: .9rem;
                        }
                    }

                }
                .container-form{
                    padding:20px;
                    background: $--white;
                    border-radius: 5px;
                    box-shadow: 0 5px $--dark-blue;

                    form{
                        display: flex;
                        flex-direction: column;

                        input{
                            margin: 5px 0;
                            height:10px;
                            border-radius: 5px;
                            padding: 15px;
                            font-size: .8rem;
                            font-family: $ff-poppins;
                            border:1px solid $--gray-blue;
                            transition: .3s;
                            
                            &::placeholder{
                                font-size: .6rem;
                                font-weight: 600;
                                padding: 10px;
                                font-family: $ff-poppins;
                            }
                            
                            &:focus{
                                
                                outline: none !important;
                                border:1px solid $--blue;
                                
                            }
                            
                        }

                        .msg-erro{
                            color:$--red;
                            font-size: .6rem;
                            font-family: $ff-poppins;
                            font-weight: 600;
                            text-align: right;
                            position: relative;
                            padding:0 0 5px 0;
                            
                        }
                        .input-erro{
                            border: 1px solid $--red;
                        }
                        .input-ok{
                            border: 1px solid $--green;
                        }
                    }

                    .button{
                        background: $--green;
                        border-radius: 5px;
                        height:50px;
                        border:0;
                        font-weight: 600;
                        box-shadow: 0 5px $--dark-blue;
                        text-transform: uppercase;
                        color:$--white;
                        font-family: $ff-poppins;
                        margin:10px 0;
                        transition: .3s;

                        &:hover{
                            filter: opacity(.7);
                        }
                    }
                    p{
                        color: $--gray-blue;
                        font-weight: 600;
                        font-family: $ff-poppins;
                        padding:0 15px;
                        font-size: .6rem;
                        line-height: 15px;
                        text-align: center;
                        span{
                            color:red;
                        }
                    }
                }
            }
        }

        footer{

            .attribution { 
                font-size: .7rem;
                font-weight: 600; 
                text-align: center; 
                font-family: $ff-poppins;
                margin-top: 100px;
                color:#fff;


                a{ 
                    color: hsl(228, 45%, 44%); 
                    text-decoration: none;
                }
            }
        }

    }

}

@media (min-width:1024px){
    html{
        height: 100vh;
    
    body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
       height: 100vh;
       

       main{
           display: flex;
           flex-direction: row;
           align-items: center;
           width: 100%;
           padding:0;
           justify-content: space-around;

           .titulo{
               width:40%;
               text-align: left;
               padding: 0 60px;
           }
           .container-principal{
               width: 40%;
               padding:0 60px;

               .banner{
                   padding:1px 30px;
               }
           }
           
       }
    }
       
}




}

@media (min-width:1440px){
    html{
        
    
    body{
   
       

       main{
           width:90%;

           .titulo{
               width:500px;
               padding: 0 0 0 60px;
           }
           .container-principal{
               width: 500px;
               padding:0 60px;

               .banner{
                   padding:1px 30px;
               }
           }
           
       }
    }
       
}




}

